<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div id="adminMooShop">
                    {{#each ops}}
                        <div class="moo-card">
                            <a href="{{link}}" class="card text-center">
                                <div class="card-body">
                                    <img src="{{img}}" alt="{{title}}">
                                    <p class="card-title">{{title}}</p>
                                </div>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <h1>Добро пожаловать в {{title}}!</h1>
                <p class="lead"><img src="/shop/images/main.png" alt="MooShop" class="img-fluid" style="max-width: 100%"></p>
            </div>
        </div>
    </div>
</div>