<form id="adminForm">
    <div class="card">
        {{>page_header}}
        <div class="card-body">
            {{#if table}}
                <table {{{adminTable}}}>
                    <thead>
                    <tr class="text-center">
                        <th style="width: 5%"><i class="fa fa-sort"></i></th>
                        <th>Название</th>
                        <th style="width: 5%"><i class="fa fa-trash"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each table}}
                        <tr data-id="{{_id}}">
                            <td class="text-center icon-move"><i class="fa fa-sort"></i></td>
                            <td><a href="?task=edit&id={{_id}}">{{title}}</a></td>
                            <td class="text-center">
                                {{{deleteButton _id}}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            {{else}}
                <p>{{title}} не найдены.</p>
            {{/if}}
        </div>
    </div>
</form>
