<form id="adminForm" class="needs-validation">
    <div id="adminMooShop" class="card">
        {{>page_header}}
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <div class="form-group row">
                        <label for="name" class="col-3 col-form-label">Имя</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="name" id="name" value="{{form.name}}" placeholder="Имя">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="login" class="col-3 col-form-label">Логин*</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="login" id="login" value="{{form.login}}" placeholder="Логин" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-3 col-form-label">Email*</label>
                        <div class="col-9">
                            <input type="email" class="form-control" name="email" id="email" value="{{form.email}}" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-3 col-form-label">Пароль*</label>
                        <div class="col-9">
                            <input type="password" class="form-control" name="password" id="password" value="{{form.password}}" placeholder="Пароль" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="passwordConfirm" class="col-3 col-form-label">Подтверждение пароля*</label>
                        <div class="col-9">
                            <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" value="{{form.passwordConfirm}}" placeholder="Подтверждение пароля" required>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label for="status" class="col-3 col-form-label">Публикация</label>
                        <div class="col-9">
                            {{#select form.status}}
                                <select name="status" id="status" class="form-control">
                                    <option value="public">Публиковать</option>
                                    <option value="unpublic">Не публиковать</option>
                                </select>
                            {{/select}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>