<form id="adminForm" enctype="multipart/form-data" class="needs-validation">
    <div id="adminMooShop" class="card">
        {{>page_header}}
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <div class="form-group row">
                        <label for="title" class="col-3 col-form-label">Заголовок*</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="title" id="title" value="{{form.title}}" placeholder="Заголовок" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="alias" class="col-3 col-form-label">Псевдоним</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="alias" id="alias" value="{{form.alias}}" placeholder="Псевдоним генерируется автоматически при заполненном заголовке" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="short_description" class="col-3 col-form-label">Краткое описание</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="short_description" id="short_description" placeholder="Краткое описание" value="{{form.short_description}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="link" class="col-3 col-form-label">URL</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="link" id="link" value="{{form.link}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-3 col-form-label">Полное описание</label>
                        <div class="col-9">
                            <textarea class="form-control" id="mooEditor" name="description">{{{form.description}}}</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="meta_title" class="col-3 col-form-label">Meta title</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="meta_title" id="meta_title" value="{{form.meta_title}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="meta_description" class="col-3 col-form-label">Meta description</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="meta_description" id="meta_description" value="{{form.meta_description}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="meta_keywords" class="col-3 col-form-label">Meta title</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="meta_keywords" id="meta_keywords" value="{{form.meta_keywords}}">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="status">Публикация</label>
                        {{#select form.status}}
                            <select name="status" id="status" class="form-control">
                                <option value="public">Публиковать</option>
                                <option value="unpublic">Не публиковать</option>
                            </select>
                        {{/select}}
                    </div>

                    <div class="form-group">
                        <label for="imgFile">Изображение</label>
                        <div class="custom-file">
                            <input type="file" name="image" class="custom-file-input" id="imgFile" data-img="{{form.image}}">
                            <label class="custom-file-label" id="imgFileLabel" for="imgFile">Выбрать</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            {{#if form.image}}
                                <img src="{{form.image}}" alt="{{form.title}}" class="img-thumbnail mb-3" style="max-height: 200px">
                                <button id="deleteIMG" type="button" class="btn btn-danger btn-sm">&times; Удалить изображение</button>
                            {{else}}
                                Выберите изображение
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="/assets/{{template}}/js/editor.js"></script>
<script src="/assets/{{template}}/js/uploadImg.js"></script>